* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; background: #f5f5f5; }
        
        .toggle-btn {
            /*position: fixed;
            top: 20px;
            right: 20px*/
            background: #667eea;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            z-index: 100;
            width: 200px;
        }
        .toggle-btn:hover {
            background:#4463ec ;
        }

        .toggle-btnSide {

            background: #667eea;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            z-index: 100;
            width: 40px;
            height: 40px;
        }
        .toggle-btnSide:hover {
            background:#4463ec ;
        }

        .sidebar {
            position: fixed;
            top: 0;
            right: -250px;
            width: 250px;
            height: 100vh;
            background: #2d3748;
            color: white;
            transition: right 0.3s ease;
            z-index: 99;
            padding: 20px;
            overflow-y: auto;
        }
        
        .sidebar.open {
            right: 0;
        }

        .search-container
        {
            display: flex;
            justify-content: center;
        }

        #containerSIDE
        {
            padding-top: 20px;
        }

        #sidebartop{
            display: flex;
            gap: 10px;
            align-items: center;
        } 

        #courseSearch
        {
            width: 135px;
            border-radius: 3px;
            height: 25px;
        }

        .hidden{
            display: none !important;
        }